In [1]:
from pandas_plink import read_plink
(bim, fam, bed) = read_plink('maf1_allchr')

Reading maf1_allchr.bim... done (81.00 s)
Reading maf1_allchr.fam... done (0.02 s)
Reading maf1_allchr.bed... done (3.97 s)

In [2]:
bim.head()

                          snp   cm a0  a1  i
chrom pos
1     10583       snp_1_10583  0.0  A   G  0
      10611       snp_1_10611  0.0  G   C  1
      13302       snp_1_13302  0.0  T   C  2
      13327       snp_1_13327  0.0  C   G  3
      13957  indel:1D_1_13957  0.0  T  TC  4

In [3]:
fam.head()

            father mother gender trait   i
fid iid
0   HG00096      0      0      0    -9  42
    HG00097      0      0      0    -9  43
    HG00099      0      0      0    -9  44
    HG00100      0      0      0    -9  45
    HG00101      0      0      0    -9  46

In [4]:
bed

dask.array<concate..., shape=(12288521, 465), dtype=int64, chunksize=(1024, 465)>

In [5]:
chrom1 = bim.loc[('1', ), :]
chrom1.head()

                    snp   cm a0  a1  i
pos
10583       snp_1_10583  0.0  A   G  0
10611       snp_1_10611  0.0  G   C  1
13302       snp_1_13302  0.0  T   C  2
13327       snp_1_13327  0.0  C   G  3
13957  indel:1D_1_13957  0.0  T  TC  4

In [6]:
window = 5000
left = 870153 - window
right = 870153 + window

chrom1 = chrom1.reset_index()
i = chrom1[(chrom1['pos'] > left) & (chrom1['pos'] < right)].i

In [7]:
X = bed[i,:].compute()
X

array([[2, 2, 2, ..., 1, 2, 1],
       [2, 2, 2, ..., 2, 2, 2],
       [2, 2, 2, ..., 2, 2, 2],
       ...,
       [2, 2, 2, ..., 2, 2, 2],
       [2, 2, 2, ..., 2, 1, 2],
       [1, 1, 1, ..., 2, 0, 2]])